JWT_SECRET=My!@!Se3cr8tH4sh3
REST_API_EXAMPLE_ACCESS=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiJaZERVU3IteE4iLCJlbWFpbCI6ImFsZXNzYW5kcm8yQHRlc3RlLmNvbSIsInBlcm1pc3Npb25GbGFncyI6MSwicmVmcmVzaEtleSI6eyJ0eXBlIjoiQnVmZmVyIiwiZGF0YSI6WzIyNywxNTEsMTg3LDIyMCwyNDUsMCwxOTEsNjksMjAyLDE2OCwxMSwxMjQsMjU0LDM5LDYwLDE0N119LCJpYXQiOjE2MjQ3NjE2MTAsImV4cCI6MTYyNDc5NzYxMH0.flnFbpdTdyDkJu_d2R42y5I2DrQj7c-O93We14C3UR4
REST_API_EXAMPLE_REFRESH=n5FAdacoW922+OGqXoF8UE/v6pHDO6C2UZ0Kt9JIRvsEAQfKFXab2KWIb5KvAqIBRTPLCRYHAYKVTmIJypZuuA==